@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 13px;
}

.container {
	max-width: 900px !important;
}
.marquee {
	width: 100%;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	animation: marquee 20s linear infinite;
}

@keyframes marquee {
	0% {
		text-indent: 90%;
	}

	100% {
		text-indent: -40em;
	}
}

.marquee-icon {
	background: #000 url(../images/icons/megaphone.png) 10px 50% no-repeat;
	background-size: 15px;
	padding: 5px 0px;
	border-radius: 100px;
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(0%, -50%);
	font-size: 12px;
	padding-left: 30px;
	padding-right: 10px;
	font-weight: 600;
	color: #fff;
}

.swiper .swiper-slide img {
	height: 160px;
	object-fit: cover;
}
